html, body, div, p, img,h1 {
	margin: 0;
	padding: 0;
}
html{
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
	background-image: url(../images/background.png);
	background-color: #f5f5f5;
	background-repeat: repeat-x;
	background-position: top;
	font-family: "MicrosoftYaHei";
}
.main {
	width: 997px;
	height: 634px;
	margin: 67px auto 0;
	background-image: url(../images/main_pic.png);
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	color: #fff;
	padding-top: 64px;
}
.main .slogan {
	font-family: "MicrosoftYaHei";
	text-align: center;
	font-size: 36px;
	color: #fff;
}
.main h1{
	font-size: 24px;
	padding-top: 20px;
	font-weight: normal;
}
.main .info{
	font-family: "MicrosoftYaHei";
	text-align: center;
	color: #fff;
	padding-top: 10px;
	width: 600px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1.8em;
}
.main .logo{
	font-size: 36px;
    font-weight: bold;
    margin-top: 66px;
}
.copyright {
	font-size: 12px;
	color: #4a4a4a;
	text-align: center;
	margin-bottom: 70px;
}